---
title: "UTA Carpentries"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/splash_banner.jpg
  caption: "Photo credit: []()"
excerpt: "Organizers of Software and Data Carpentry workshops at the University of Texas, Arlington"
intro: 
  - excerpt: 'Get notified about future workshops and events!<br /><br />
  [<i class="fab fa-twitter"></i> @UTAcarpentries](https://twitter.com/UTAcarpentries){: .btn .btn--twitter}
  [<i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i> Mailing List](https://groups.google.com/forum/#!forum/uta-carpentries){: .btn .btn--primary}'
feature_row:
  - image_path: /assets/images/feature_about.jpg 
    title: "About Us"
    excerpt: "We are building an inclusive and supportive community for learning data and computing skills"
    url: "/about/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: /assets/images/feature_workshop.jpg
    title: "Workshops and Events"
    excerpt: "We organize and teach hands-on workshops using the materials and practices of the Software and Data Carpentry organizations"
    url: "/events/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
