<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
  <li>
    <a href="https://github.com/utacarpentries" itemprop="sameAs">
      <i class="fab fa-fw fa-github" aria-hidden="true"></i> Github
    </a>
  </li>
  <li>
    <a href="https://groups.google.com/forum/#!forum/uta-carpentries" itemprop="sameAs">
      <i class="fas fa-fw fa-link" aria-hidden="true"></i> Mailing List
    </a>
  </li>
