---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

$masthead-link-color: #071159;
$primary-color: #071159;
$text-color: #071159;
// $link-color: #394EEF;

@import "minimal-mistakes"; // main partials
